*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
    scroll-behavior: smooth;
}

header > h1{
    font-size: 60px;
}

header{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    text-align: center;
    color: rgb(80, 95, 102);
}

#contenedor_imagen{
    display: flex;
    justify-content: center;
}

.contenedor_home{
    display:block;
    transition: 1s linear;
}

.contenedor_home_hidden{
    display: none;
}

.off{
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.5s linear;
}

#contenedor_imagen img{
    height: 60vh;
    max-height: 200px;
    min-width: 200px;
    width: 40vw;
    border-radius: 50%;
}

#bar{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100;
}

#bar li{
    display: inline-block;
    text-decoration: none;
    color: rgb(80, 95, 102);
    padding: 20px;
}

#bar li:hover{
    background-color: #7497d0;
}

.contenido{
    margin: 0 10vw;
    text-align: center;
}

.titulo{
    color: rgb(153, 153, 152);
    display: inline-block;
    font-size: 30px;
}

.contenido  ul{
    list-style: none;
}

section{
    margin: 10px 0 0 0;
}

section li{
    padding: 5px 0;
}

li > ul > li{
    padding: 0;
}

.more{
    border: solid 1px black;
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
}

.more a{
    text-decoration: none;
    color: rgb(112, 5, 51);
}
